@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

.services {
  background-color: #eee;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

h1 {
  font-size: 36px;
}
